$white: #ffffff;
$white2: #f4f4f4;
$black: #000;
$dark_gray: #2e2e2e;
$gray: slategray;
$blue: slateblue;
$yellow: #EB9C25;
$primary: #A31574;
$primary__hover: #a31574be;
$secondary: #9B08A5;
$secondary__hover: #9a0d85b4;
$primary__violet: #AB0966;
$primary__red: #C23941;